body {
  border: 3px solid black;
  padding: 4px;
  font-size: 18px;
  font-family: sans-serif;
}
h2 {
  background-color: #f7f7f7;
}
.caps,
button {
  text-transform: uppercase;
}
p strong {
  font-size: 22px;
}

#shipping {
  color: gray;
  font-weight: bolder;
}

.links {
  color: black;
}

.links:visited {
  color: rgb(96, 95, 95);
}
.links:hover {
  text-decoration: none;
}

li {
  list-style: square;
}

button {
  font-size: 18px;
  color: white;
  background-color: black;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: #f7f7f7;
}
